@import url('https://fonts.cdnfonts.com/css/gilroy-bold?styles=20876,20877,20878,20879,20880');

html {
  font-family: 'Gilroy-Regular', sans-serif;
}

._container {
  overflow: hidden;
}

.header {
  padding: 30px 100px;
  background-color: #B4D8AE;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 1300px) {
    padding: 35px 80px;
  }

  @media (max-width: 1024px) {
    padding: 18px 60px;
  }

  @media (max-width: 768px) {
    padding: 10px;
  }

  &__company {
    font-family: Gilroy-Bold, sans-serif;
    font-size: 28px;
    line-height: normal;
  }

  &__search {
    width: 40%;
    max-width: 600px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px 40px;
    background-color: #fff;
    border: 1px solid #000;
    box-shadow: 2px 2px 0 #000;
    -webkit-border-radius: 37px;
    -moz-border-radius: 37px;
    border-radius: 37px;

    @media (max-width: 1300px) {
      display: none;
    }

    &-img {
      width: 32px;
      height: 32px;
    }

    &-input {
      width: 80%;
      min-width: 80%;
      font-size: 18px;
      font-weight: 500;
      line-height: normal;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 24px;

    @media (max-width: 1300px) {
      display: none;
    }

    & :last-child {
      background-color: #FFE500;
    }
  }

  &__buttons-item {
    background-color: #ffffff;
    padding: 25px 30px;
    border: 1px solid #000;
    box-shadow: 2px 2px 0 #000;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 18px;
    line-height: normal;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
  }

  &__menu {
    display: none;
    padding: 26px 40px;
    align-items: center;
    justify-content: center;
    gap: 11px;
    border: 1px solid #000;
    box-shadow: 2px 2px 0 #000;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;

    @media (max-width: 1300px) {
      display: flex;
    }

    @media (max-width: 768px) {
      padding: 16px 24px;
    }
  }
}

.nav {
  padding: 30px 100px;
  display: flex;
  align-items: center;
  background: #E6FFE1;
  border-bottom: 1px solid #A3CE9B;

  @media (max-width: 1300px) {
    padding: 30px 80px;
  }

  @media (max-width: 1024px) {
    padding: 18px 60px;
  }

  @media (max-width: 768px) {
    display: none;
  }

  &__categories {
    display: flex;
    align-items: center;
    gap: 11px;
    padding-right: 40px;
    border-right: 1px solid #A3CE9B;

    &-img {
      width: 32px;
      height: 32px;
    }

    &-text {
      font-family: 'Gilroy-Medium', sans-serif;
      font-size: 18px;
      font-weight: 600;
      line-height: normal;
    }
  }

  &__list {
    display: flex;
    align-items: center;

    & a {
      color: #000000;
    }
  }

  &__list-item {
    font-family: 'Gilroy-Regular', sans-serif;
    padding: 0 26px;
    font-size: 18px;
    line-height: normal;

    @media (max-width: 1024px) {
      padding: 0 20px;
    }
  }
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #E6FFE1;
  padding: 30px 100px;

  @media (max-width: 1300px) {
    padding: 35px 80px;
  }

  @media (max-width: 1024px) {
    padding: 18px 60px;
  }

  @media (max-width: 768px) {
    padding: 10px;
  }

  @media (max-width: 700px) {
    background-color: #ffffff;
    background-image: url(../img/main/bgi.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: block;
    padding: 40px 10px;
  }

  &__info {
    position: relative;
    z-index: 2;
    flex: 0 0 40%;

    @media (max-width: 1300px) {
      flex: 0 0 50%;
    }

    @media (max-width: 700px) {
      max-width: 80%;
      margin: 0 auto;
    }
  }

  &__title {
    font-family: "Gilroy-Bold", sans-serif;
    font-size: 90px;
    line-height: 110%;
    margin-bottom: 16px;

    @media (max-width: 1300px) {
      font-size: 70px;
    }

    @media (max-width: 1024px) {
      font-size: 50px;
    }

    @media (max-width: 769px) {
      font-size: 40px;
      margin-bottom: 10px;
    }

    @media (max-width: 700px) {
      text-align: center;
      margin-bottom: 15px;
    }
  }

  &__subtitle {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 24px;
    line-height: normal;
    margin-bottom: 24px;

    @media (max-width: 1024px) {
      font-size: 18px;
      margin-bottom: 16px;
    }

    @media (max-width: 769px) {
      font-size: 16px;
      margin-bottom: 10px;
    }

    @media (max-width: 700px) {
      text-align: center;
      margin-bottom: 20px;
    }
  }

  &__text {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 18px;
    line-height: 180%;
    margin-bottom: 24px;

    @media (max-width: 1024px) {
      font-size: 16px;
      margin-bottom: 16px;
    }

    @media (max-width: 769px) {
      font-size: 14px;
      margin-bottom: 10px;
    }

    @media (max-width: 700px) {
      text-align: center;
      margin-bottom: 30px;
    }

    &-bold {
      font-family: 'Gilroy-Bold', sans-serif;
    }
  }

  &__button {
    border: 1px solid #000;
    box-shadow: 2px 2px 0 #000;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    background-color: #FFE500;
    padding: 25px 40px;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;

    @media (max-width: 1024px) {
      padding: 15px 25px;
    }

    @media (max-width: 700px) {
      width: 100%;
    }
  }

  &__img {
    flex: 0 0 60%;
    position: relative;
    padding: 22%;

    @media (max-width: 1300px) {
      flex: 0 0 50%;
    }

    @media (max-width: 700px) {
      display: none;
    }
  }

  &__img-item {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    right: -100px;
    object-fit: contain;

    @media (max-width: 1300px) {
      width: 120%;
      right: -80px;
    }

    @media (max-width: 1024px) {
      width: 140%;
    }
  }
}

.stats {
  padding: 30px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E0F7DB;

  @media (max-width: 1300px) {
    padding: 30px 80px;
  }

  @media (max-width: 1024px) {
    padding: 30px 60px;
  }

  @media (max-width: 769px) {
    padding: 20px 10px;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;
    flex: 0 0 25%;

    @media (max-width: 769px) {
      flex: 0 0 50%;
      margin-bottom: 20px;
    }
  }

  &__item:not(:last-child):after {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 70px;
    content: '';
    border: 1px solid #C6C6C6;

    @media (max-width: 1300px) {
      height: 50px;
    }

    @media (max-width: 1024px) {
      height: 30px;
    }

    @media (max-width: 769px) {
      content: none;
    }
  }

  &__number {
    text-align: center;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 60px;
    line-height: 180%;

    @media (max-width: 1300px) {
      font-size: 45px;
      line-height: 150%;
    }

    @media (max-width: 1024px) {
      font-size: 36px;
    }

    @media (max-width: 769px) {
      font-size: 24px;
    }
  }

  &__text {
    text-align: center;
    font-family: 'Gilroy-Medium', sans-serif;
    color: #818181;
    font-size: 24px;
    line-height: normal;

    @media (max-width: 1300px) {
      font-size: 18px;
    }

    @media (max-width: 1024px) {
      font-size: 14px;
    }
  }
}

.partners {
  padding: 100px;
  background-color: #FFF2E5;
  
  @media (max-width: 1300px) {
    padding: 40px 80px;
  }

  @media (max-width: 1024px) {
    padding: 20px 60px;
  }

  @media (max-width: 769px) {
    padding: 20px 10px;
  }

  &__title {
    text-align: center;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 45px;
    line-height: 120%;
    margin-bottom: 90px;

    @media (max-width: 1300px) {
      margin-bottom: 40px;
    }

    @media (max-width: 1024px) {
      font-size: 35px;
      margin-bottom: 30px;
    }

    @media (max-width: 769px) {
      font-size: 28px;
      margin-bottom: 20px;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;

    @media  (max-width: 769px) {
      flex-wrap: wrap;
    }
  }

  &__item {
    flex: 0 1 20%;
    height: 80px;
    width: 224px;
    background-color: #fff;

    @media (max-width: 1300px) {
      height: 50px;
      width: 100px;
    }

    @media (max-width: 1024px) {
      width: 80px;
      height: 40px;
    }

    @media (max-width: 769px) {
      flex: 0 1 33.3%;
      max-width: 150px;
      height: 40px;
      margin-bottom: 10px;
    }
  }
}