
html {
  font-family: Gilroy, sans-serif;
}

._container {}

.header {
  padding: 30px 100px;
  background-color: #B4D8AE;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 1300px) {
    padding: 35px 80px;
  }

  @media (max-width: 1024px) {
    padding: 18px 60px;
  }
  
  @media (max-width: 768px) {
    padding: 10px;
  }

  &__company  {
    font-size: 28px;
    font-weight: 600;
    line-height: normal;
    padding: 16px;
  }
  &__search {
    width: 40%;
    max-width: 600px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px 40px;
    background-color: #fff;
    border: 1px solid #000;
    box-shadow: 2px 2px 0 #000;
    -webkit-border-radius: 37px;
    -moz-border-radius: 37px;
    border-radius: 37px;

    @media (max-width: 1300px) {
      display: none;
    }

    &-img {
      width: 32px;
      height: 32px;
    }
    &-input {
      width: 80%;
      min-width: 80%;
      font-size: 18px;
      font-weight: 500;
      line-height: normal;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 24px;

    @media (max-width: 1300px) {
      display: none;
    }

    & :last-child {
      background-color: #FFE500;
    }
  }

  &__buttons-item {
    background-color: #ffffff;
    padding: 25px 30px;
    border: 1px solid #000;
    box-shadow: 2px 2px 0 #000;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
  }

  &__menu {
    display: none;
    padding: 26px 40px;
    align-items: center;
    justify-content: center;
    gap: 11px;
    border: 1px solid #000;
    box-shadow: 2px 2px 0 #000;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;

    @media (max-width: 1300px) {
      display: flex;
    }

    @media (max-width: 768px) {
      padding: 16px 24px;
    }
  }
}