@import url("https://fonts.cdnfonts.com/css/gilroy-bold?styles=20876,20877,20878,20879,20880");
html {
  font-family: "Gilroy-Regular", sans-serif;
}

._container {
  overflow: hidden;
}

.header {
  padding: 30px 100px;
  background-color: #B4D8AE;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1300px) {
  .header {
    padding: 35px 80px;
  }
}
@media (max-width: 1024px) {
  .header {
    padding: 18px 60px;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 10px;
  }
}
.header__company {
  font-family: Gilroy-Bold, sans-serif;
  font-size: 28px;
  line-height: normal;
}
.header__search {
  width: 40%;
  max-width: 600px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px 40px;
  background-color: #fff;
  border: 1px solid #000;
  box-shadow: 2px 2px 0 #000;
  -webkit-border-radius: 37px;
  -moz-border-radius: 37px;
  border-radius: 37px;
}
@media (max-width: 1300px) {
  .header__search {
    display: none;
  }
}
.header__search-img {
  width: 32px;
  height: 32px;
}
.header__search-input {
  width: 80%;
  min-width: 80%;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
}
.header__buttons {
  display: flex;
  align-items: center;
  gap: 24px;
}
@media (max-width: 1300px) {
  .header__buttons {
    display: none;
  }
}
.header__buttons :last-child {
  background-color: #FFE500;
}
.header__buttons-item {
  background-color: #ffffff;
  padding: 25px 30px;
  border: 1px solid #000;
  box-shadow: 2px 2px 0 #000;
  font-family: "Gilroy-Medium", sans-serif;
  font-size: 18px;
  line-height: normal;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}
.header__menu {
  display: none;
  padding: 26px 40px;
  align-items: center;
  justify-content: center;
  gap: 11px;
  border: 1px solid #000;
  box-shadow: 2px 2px 0 #000;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}
@media (max-width: 1300px) {
  .header__menu {
    display: flex;
  }
}
@media (max-width: 768px) {
  .header__menu {
    padding: 16px 24px;
  }
}

.nav {
  padding: 30px 100px;
  display: flex;
  align-items: center;
  background: #E6FFE1;
  border-bottom: 1px solid #A3CE9B;
}
@media (max-width: 1300px) {
  .nav {
    padding: 30px 80px;
  }
}
@media (max-width: 1024px) {
  .nav {
    padding: 18px 60px;
  }
}
@media (max-width: 768px) {
  .nav {
    display: none;
  }
}
.nav__categories {
  display: flex;
  align-items: center;
  gap: 11px;
  padding-right: 40px;
  border-right: 1px solid #A3CE9B;
}
.nav__categories-img {
  width: 32px;
  height: 32px;
}
.nav__categories-text {
  font-family: "Gilroy-Medium", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}
.nav__list {
  display: flex;
  align-items: center;
}
.nav__list a {
  color: #000000;
}
.nav__list-item {
  font-family: "Gilroy-Regular", sans-serif;
  padding: 0 26px;
  font-size: 18px;
  line-height: normal;
}
@media (max-width: 1024px) {
  .nav__list-item {
    padding: 0 20px;
  }
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #E6FFE1;
  padding: 30px 100px;
}
@media (max-width: 1300px) {
  .main {
    padding: 35px 80px;
  }
}
@media (max-width: 1024px) {
  .main {
    padding: 18px 60px;
  }
}
@media (max-width: 768px) {
  .main {
    padding: 10px;
  }
}
@media (max-width: 700px) {
  .main {
    background-color: #ffffff;
    background-image: url(../img/main/bgi.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: block;
    padding: 40px 10px;
  }
}
.main__info {
  position: relative;
  z-index: 2;
  flex: 0 0 40%;
}
@media (max-width: 1300px) {
  .main__info {
    flex: 0 0 50%;
  }
}
@media (max-width: 700px) {
  .main__info {
    max-width: 80%;
    margin: 0 auto;
  }
}
.main__title {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 90px;
  line-height: 110%;
  margin-bottom: 16px;
}
@media (max-width: 1300px) {
  .main__title {
    font-size: 70px;
  }
}
@media (max-width: 1024px) {
  .main__title {
    font-size: 50px;
  }
}
@media (max-width: 769px) {
  .main__title {
    font-size: 40px;
    margin-bottom: 10px;
  }
}
@media (max-width: 700px) {
  .main__title {
    text-align: center;
    margin-bottom: 15px;
  }
}
.main__subtitle {
  font-family: "Gilroy-Medium", sans-serif;
  font-size: 24px;
  line-height: normal;
  margin-bottom: 24px;
}
@media (max-width: 1024px) {
  .main__subtitle {
    font-size: 18px;
    margin-bottom: 16px;
  }
}
@media (max-width: 769px) {
  .main__subtitle {
    font-size: 16px;
    margin-bottom: 10px;
  }
}
@media (max-width: 700px) {
  .main__subtitle {
    text-align: center;
    margin-bottom: 20px;
  }
}
.main__text {
  font-family: "Gilroy-Medium", sans-serif;
  font-size: 18px;
  line-height: 180%;
  margin-bottom: 24px;
}
@media (max-width: 1024px) {
  .main__text {
    font-size: 16px;
    margin-bottom: 16px;
  }
}
@media (max-width: 769px) {
  .main__text {
    font-size: 14px;
    margin-bottom: 10px;
  }
}
@media (max-width: 700px) {
  .main__text {
    text-align: center;
    margin-bottom: 30px;
  }
}
.main__text-bold {
  font-family: "Gilroy-Bold", sans-serif;
}
.main__button {
  border: 1px solid #000;
  box-shadow: 2px 2px 0 #000;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  background-color: #FFE500;
  padding: 25px 40px;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}
@media (max-width: 1024px) {
  .main__button {
    padding: 15px 25px;
  }
}
@media (max-width: 700px) {
  .main__button {
    width: 100%;
  }
}
.main__img {
  flex: 0 0 60%;
  position: relative;
  padding: 22%;
}
@media (max-width: 1300px) {
  .main__img {
    flex: 0 0 50%;
  }
}
@media (max-width: 700px) {
  .main__img {
    display: none;
  }
}
.main__img-item {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  right: -100px;
  object-fit: contain;
}
@media (max-width: 1300px) {
  .main__img-item {
    width: 120%;
    right: -80px;
  }
}
@media (max-width: 1024px) {
  .main__img-item {
    width: 140%;
  }
}

.stats {
  padding: 30px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E0F7DB;
}
@media (max-width: 1300px) {
  .stats {
    padding: 30px 80px;
  }
}
@media (max-width: 1024px) {
  .stats {
    padding: 30px 60px;
  }
}
@media (max-width: 769px) {
  .stats {
    padding: 20px 10px;
    flex-wrap: wrap;
  }
}
.stats__item {
  position: relative;
  flex: 0 0 25%;
}
@media (max-width: 769px) {
  .stats__item {
    flex: 0 0 50%;
    margin-bottom: 20px;
  }
}
.stats__item:not(:last-child):after {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 70px;
  content: "";
  border: 1px solid #C6C6C6;
}
@media (max-width: 1300px) {
  .stats__item:not(:last-child):after {
    height: 50px;
  }
}
@media (max-width: 1024px) {
  .stats__item:not(:last-child):after {
    height: 30px;
  }
}
@media (max-width: 769px) {
  .stats__item:not(:last-child):after {
    content: none;
  }
}
.stats__number {
  text-align: center;
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 60px;
  line-height: 180%;
}
@media (max-width: 1300px) {
  .stats__number {
    font-size: 45px;
    line-height: 150%;
  }
}
@media (max-width: 1024px) {
  .stats__number {
    font-size: 36px;
  }
}
@media (max-width: 769px) {
  .stats__number {
    font-size: 24px;
  }
}
.stats__text {
  text-align: center;
  font-family: "Gilroy-Medium", sans-serif;
  color: #818181;
  font-size: 24px;
  line-height: normal;
}
@media (max-width: 1300px) {
  .stats__text {
    font-size: 18px;
  }
}
@media (max-width: 1024px) {
  .stats__text {
    font-size: 14px;
  }
}

.partners {
  padding: 100px;
  background-color: #FFF2E5;
}
@media (max-width: 1300px) {
  .partners {
    padding: 40px 80px;
  }
}
@media (max-width: 1024px) {
  .partners {
    padding: 20px 60px;
  }
}
@media (max-width: 769px) {
  .partners {
    padding: 20px 10px;
  }
}
.partners__title {
  text-align: center;
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 45px;
  line-height: 120%;
  margin-bottom: 90px;
}
@media (max-width: 1300px) {
  .partners__title {
    margin-bottom: 40px;
  }
}
@media (max-width: 1024px) {
  .partners__title {
    font-size: 35px;
    margin-bottom: 30px;
  }
}
@media (max-width: 769px) {
  .partners__title {
    font-size: 28px;
    margin-bottom: 20px;
  }
}
.partners__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}
@media (max-width: 769px) {
  .partners__list {
    flex-wrap: wrap;
  }
}
.partners__item {
  flex: 0 1 20%;
  height: 80px;
  width: 224px;
  background-color: #fff;
}
@media (max-width: 1300px) {
  .partners__item {
    height: 50px;
    width: 100px;
  }
}
@media (max-width: 1024px) {
  .partners__item {
    width: 80px;
    height: 40px;
  }
}
@media (max-width: 769px) {
  .partners__item {
    flex: 0 1 33.3%;
    max-width: 150px;
    height: 40px;
    margin-bottom: 10px;
  }
}

.why {
  padding: 100px;
}
@media (max-width: 1300px) {
  .why {
    padding: 30px 80px;
  }
}
@media (max-width: 1024px) {
  .why {
    padding: 30px 60px;
  }
}
@media (max-width: 769px) {
  .why {
    padding: 30px 10px;
  }
}
.why__title {
  text-align: center;
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 45px;
  line-height: 120%;
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  .why__title {
    font-size: 35px;
    margin-bottom: 20px;
  }
}
@media (max-width: 769px) {
  .why__title {
    font-size: 28px;
    margin-bottom: 10px;
  }
}
.why__text {
  color: #797979;
  text-align: center;
  font-family: "Gilroy-Medium", sans-serif;
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 90px;
}
@media (max-width: 1024px) {
  .why__text {
    font-size: 18px;
    margin-bottom: 40px;
  }
}
@media (max-width: 769px) {
  .why__text {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 30px auto;
  }
}
.why__list {
  display: flex;
  justify-content: center;
  gap: 2%;
}
@media (max-width: 1700px) {
  .why__list {
    flex-wrap: wrap;
  }
}
@media (max-width: 769px) {
  .why__list {
    display: block;
  }
}
.why__item {
  flex: 1 1 20%;
  padding: 28px;
  border: 1px solid #000;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  box-shadow: 5px 5px 0 #000;
}
@media (max-width: 1700px) {
  .why__item {
    flex: 0 1 45%;
    margin-bottom: 30px;
  }
}
@media (max-width: 769px) {
  .why__item {
    max-width: 500px;
    margin: 0 auto 20px auto;
    padding: 20px;
  }
}
.why__item-img {
  margin-bottom: 18px;
}
.why__item-title {
  font-family: "Gilroy-Bold", sans-serif;
  color: #000;
  font-size: 24px;
  line-height: normal;
  margin-bottom: 10px;
}
@media (max-width: 769px) {
  .why__item-title {
    font-size: 18px;
  }
}
.why__item-text {
  font-family: "Gilroy-Medium", sans-serif;
  font-size: 18px;
  line-height: 170%;
}
@media (max-width: 769px) {
  .why__item-text {
    font-size: 14px;
  }
}
.why .why__item:nth-child(1) {
  background-color: #FFCDD9;
  color: #66172A;
}
.why .why__item:nth-child(2) {
  background-color: #E8EDFF;
  color: #13235A;
}
.why .why__item:nth-child(3) {
  background-color: #FBEDFF;
  color: #451651;
}
.why .why__item:nth-child(4) {
  background-color: #C2FCFC;
  color: #225050;
}
.why .why__item:nth-child(5) {
  background-color: #E2FFA4;
  color: #465528;
}
@media (max-width: 1024px) {
  .why .why__item:nth-child(5) {
    display: none;
  }
}

.about {
  padding: 100px;
  gap: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F8F3C7;
}
@media (max-width: 1300px) {
  .about {
    padding: 30px 80px;
  }
}
@media (max-width: 1024px) {
  .about {
    padding: 30px 60px;
    gap: 3%;
  }
}
@media (max-width: 769px) {
  .about {
    padding: 30px 10px;
    display: block;
  }
}
.about__item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
@media (max-width: 769px) {
  .about__item {
    justify-content: flex-start;
    max-width: 300px;
    margin: 0 auto;
  }
  .about__item:not(:last-child) {
    margin-bottom: 20px;
  }
}
.about__item-img {
  width: 83px;
  height: 83px;
  padding: 20px;
  border: 3px solid #000;
  box-shadow: 0 3px 0 #000000;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1300px) {
  .about__item-img {
    width: 62px;
    height: 62px;
  }
}
@media (max-width: 1024px) {
  .about__item-img {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 1300px) {
  .about__item-img-item {
    width: 32px;
    height: 32px;
  }
}
@media (max-width: 1024px) {
  .about__item-img-item {
    width: 24px;
    height: 24px;
  }
}
.about__item-title {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 24px;
  line-height: normal;
  margin-bottom: 5px;
}
@media (max-width: 1300px) {
  .about__item-title {
    font-size: 18px;
  }
}
@media (max-width: 1024px) {
  .about__item-title {
    font-size: 16px;
  }
}
.about__item-text {
  color: #898989;
  font-size: 18px;
  line-height: 170%;
}
@media (max-width: 1300px) {
  .about__item-text {
    font-size: 16px;
  }
}
@media (max-width: 1024px) {
  .about__item-text {
    font-size: 14px;
  }
}
.about .about__item:nth-child(1) .about__item-img {
  background-color: #495AFF;
}
.about .about__item:nth-child(2) .about__item-img {
  background-color: #FF525C;
}
.about .about__item:nth-child(3) .about__item-img {
  background-color: #A535D9;
}

/*# sourceMappingURL=main.css.map */
